@import "tailwindcss";

.custom-toast {
  font-size: 18px;
  padding: 16px;
  border-radius: 12px;
  min-height: 60px;
}

.custom-toast-body {
  font-size: 16px;
  font-weight: 600;
}

input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-reveal-button {
  display: none !important;
}

/* Hide Microsoft Edge default password reveal icon */
input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}
